{% extends "blog/blog_post_list.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n disqus_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li class="active">{{ blog_post.title }}</li>
{% endblock %}

{% block blog_post_detail_featured_image %}
{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
<p><img class="img-responsive" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 600 0 %}"></p>
{% endif %}
{% endblock %}



{% block blockposthero %}

<header class="masthead" style="{% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}background-image: url('{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 1900 1069 %}'){% else %}background-image: url('{{ STATIC_URL }}img/post-bg.jpg'){% endif %}">
 
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ blog_post.title }}</h1>
            
            
            <div class="post-preview">
                <p class="post-metax" style="color:white!important;">
                  {% trans "Posted by" %}:
                  {% with blog_post.user as author %}
                  <a style="color:white!important;" href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                  {% endwith %}
                  {% blocktrans with sometime=blog_post.publish_date %}{{ sometime }}{% endblocktrans %}
                  {% if blog_post.allow_comments %}
                  /
                  {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                  <a href="{{ blog_post.get_absolute_url }}#disqus_thread"
                      data-disqus-identifier="{% disqus_id_for blog_post %}">
                      {% trans "Comments" %}
                  </a>
                  {% else %}
                  <a style="color:white!important;" href="{{ blog_post.get_absolute_url }}#comments">
                      {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}
                  </a>
                  {% endif %}
                  {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>

{% endblock %}

{% block main %}






{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}

{% block blog_post_detail_content %}
{% editable blog_post.content %}
{{ blog_post.content|richtext_filters }}
{% endeditable %}
{% endblock %}

{% block blog_post_detail_keywords %}
{% keywords_for blog_post as tags %}
{% if tags %}
{% spaceless %}
<hr>


<h3 style="text-align: center;">{% trans "Tags" %}</h3>
<ul class="tags" style="text-align: center;">
  {% for tag in tags %}
  <li><a class="tag" href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a>{% if not forloop.last %} {% endif %}</li>
  {% endfor %}
</ul>
{% endspaceless %}
{% endif %}
{% endblock %}


<div class="container " style="text-align: center;">
{% block blog_post_detail_sharebuttons %}
{% set_short_url_for blog_post %}
    <h3 style="text-align: center;">{% trans "Share" %}</h3>
    <a class="btn btn-sm ml-2 share-twitter text-white border-light mt-3" style="background-color: #00ACEE;" target="_blank" href="https://twitter.com/intent/tweet?url={{ blog_post.short_url|urlencode }}&amp;text={{ blog_post.title|urlencode }}"><i class="fa fa-twitter"></i>{% trans " | Share on Twitter" %}</a>
    <a class="btn btn-sm ml-2 share-facebook text-white border-light mt-3" style="background-color: #567EB5;" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fa fa-facebook"></i>{% trans " | Share on Facebook" %}</a>

<br/>
<hr>
{% endblock %}
</div>

<div class="container mt-5">
  {% block blog_post_detail_comments %}
  {% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
  {% endblock %}
  <hr> 
</div>


<div class="container mt-3" style="text-align: center;">
{% block blog_post_previous_next %}

<ul class="pager" style="list-style: none;">
<h3>{% trans 'Previous & Next Posts' %}</h3>  
{% with blog_post.get_previous_by_publish_date as previous %}
{% if previous %}
<li class="previous">
    <a class="btn btn-outline-info " href="{{ previous.get_absolute_url }}">&larr; {{ previous }}</a>
</li>
{% endif %}
{% endwith %}
{% with blog_post.get_next_by_publish_date as next %}
{% if next %}
<li class="next mt-3">
    <a class="btn btn-outline-info " href="{{ next.get_absolute_url }}">{{ next }} &rarr;</a>
</li>
{% endif %}
{% endwith %}
</ul>

<hr> 
{% endblock %}
</div>

<div class="container">
{% block blog_post_detail_related_posts %}
{% if related_posts %}
<div id="related-posts">
<h3 style="text-align: center;">{% trans 'Related Posts' %}</h3>
<ul class="list-unstyled ">
{% for post in related_posts %}

     <li><a class="btn btn-outline-info d-flex justify-content-center mb-3" href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
    
{% endfor %}
</ul>
</div>
{% endif %}
{% endblock %}
</div>



{% endblock %}