.floating-label-form-group .help-block{
  display: none;
}

form.mezzanine-form input, form.mezzanine-form textarea{
  width: 100%;
}



.site-heading .meta a {
  color: white !important;
}



#comment .floating-label-form-group label {
  opacity: 1;
  font-size: 21px;
  top: 0;
}

#comment .floating-label-form-group input, #comment .floating-label-form-group textarea {
  width: 100%;
}

#mainNav .is-visible {
  border-bottom: 3px solid black;
}

.blog-filters {
  margin-buttom :40px;
}

.blog-filters .dropdown a {
  display: block;
}

.post-preview > .post-metax {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}

.post-preview > .post-metax > a {
  text-decoration: none;
  color: white;
}

.post-preview > .post-metax > a:focus, .post-preview > .post-metax > a:hover {
  text-decoration: underline;
  color: #0085A1;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #48a3b8;
  color: white;
}

.tag:hover::after {
   border-left-color: #48a3b8; 
}