{% load i18n %}


<div class="clearfix ml-2" style="text-align: center; " >

  {% if current_page %}

    {%if current_page.number == 1 %}
      <a class="btn btn-outline-info float-right" href="?page=2">Older Posts &rarr;</a>
    {% endif %}

    {%if current_page.has_previous %}
      <a class="btn btn-outline-info" href="/">&laquo;</a>
      <a class="btn btn-outline-info" href="?page={{current_page.previous_page_number}}">&lsaquo;</a>
    {% endif %}

    {%for num in current_page.paginator.page_range %}
     {%if current_page.number == num and current_page.number != 1 %}
       <a class="btn btn-outline-info" href="?page={{ num }}">{{ num }}</a>
     {% endif %}
    {% endfor %} 
    

    {%if current_page.has_next and current_page.number != 1 %}
      <a class="btn btn-outline-info" href="?page={{current_page.next_page_number}}">&rsaquo;</a>
      <a class="btn btn-outline-info" href="?page={{current_page.paginator.num_pages}}">&raquo;</a>
    {% endif %}
    

  {% endif %}

  
</div>
